target/
!.mvn/wrapper/maven-wrapper.jar
!functions/src/main/**/target/
!functions/src/test/**/target/

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/codeStyles/
.idea/aws.xml
.idea/uiDesigner.xml
.idea/misc.xml
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store